/uploads/
*__pycache__
*/.DS_Store
*.pyc
*.pb
.idea
python_v2s/v2s/phase1/detection/opacity_model/opacity_model/model-saved-alex8-tuned.h5
python_v2s/v2s/phase1/detection/opacity_model/model-saved-alex8-tuned.tflite
